@font-face {
  font-family: 'shabnam';
  src: url('../fonts/Shabnam.eot') format('eot');
  src: url('../fonts/Shabnam.ttf') format('truetype'),
      url('../fonts/Shabnam.woff') format('woff');
}
:root{
  --color-main: #396aff;
  --bg: #EEEEF4;
  --bg2: #dce5ff;
  --main-accent: #e9eefd;
  --main-text: #4b5876;
  --shadow: 0 0 16px rgba(17, 17, 26, .1);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  direction: rtl;
  overflow-x: hidden;
  font-family: 'shabnam';
  background: var(--bg);
}
.sidebar{
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: 0.5s;
}
@media screen and (max-width: 576px) {
  .sidebar{
    width: 280px;
    padding: 1rem 0.5rem;
  }
}

.sidebar-container{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #fff;
  padding: 20px;
  box-shadow: var(--shadow);
}

.sidebar-avatar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--main-accent);
  padding: .5rem;
  border-radius: 4px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}


.sidebar-container .avatar-image img{
  width: 70px;
}

.sidebar-container .sidebar-avatar .avatar-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-avatar .avatar-info .avatar-text{
  padding-left: 10px;
}

.sidebar-menu{
  margin-top: 30px;
}
.sidebar-menu ul{
  padding: 0;
}
.sidebar-menu li{
  padding-bottom: 10px;
}

.sidebar-menu li a{
  color: var(--main-text);
  padding: .8rem 0;
  display: block;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.sidebar-menu li a.active{
  background: var(--main-accent);
  padding-right: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hamburger-icon{
  cursor: pointer;
}
.sidebar{
  transform: translate(100%);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.sidebar.active{
  transform: translate(0%);
  visibility: visible;
  opacity: 1;
}
#overview{
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #0e0c0c9c;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
#overview.active{
  visibility: visible;
  opacity: 1;
}

/* start header */
.header{
  width: 100%;
  margin: 0 auto;
  transition: 0.8s;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.fixed{
  position: fixed;
  background: #fff;
  z-index: 1;
  animation: headerFix 1s ease;
  -webkit-animation: headerFix 1s ease;
  left: 0;
  right: 0;
}

@keyframes headerFix{
  0%{
      opacity: 0;
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
}100%{
  opacity: 1;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
}
.icons{
  width: 10%;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1200px){
  .icons{
    width: 20%;
  }
}
@media screen and (max-width: 576px){
  .icons{
    width: 40%;
  }
}
.notif-items{
  position: relative;
  text-align: center;
}
.notif-item{
  position: absolute;
  top: -10px;
  left: 6px;
  border-radius: 50%;
  padding: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
}
/* theme */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}
/* end header */

/* start bottom navigation */









.sticky {
  position: fixed;
  overflow: hidden;
}

.main-content{
  background-color: #4b5876;
}


/* scroll */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}